@{
    ViewData["Title"] = "Home Page";
}

<section id="main-message">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <h1>:)</h1>
            </div>
            <div class="col-lg-9 col-md-9">
                <h1>Welcome to ASP.Net!</h1>
                <h3>
                    This template allows you to setup any kind of project in a matter of seconds.
                    It includes a Gulp configuration so you can manage your asset pipeline by running 
                    a simple command in your prompt. It also bundles a LESS mixin library which includes
                    several important functions that were written to help you write CSS code the agile way.
                    You also have access to a collection of fonts that has been all setup to work with the
                    mixins library. Happy Coding!
                </h3>
            </div>
        </div>
    </div>
</section>